.container {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #8c8c8c;
    width: 99%;
}
.container img {
    max-height: 350px;
    width: 300px;
}

.container .card {
    background: black;
    color: white;
    padding: 0.5em;
}

.container .card ul {
    list-style-type: none;
    text-align: left;
    font-size: 23px;
}

.content {
    text-align: center;
    margin-bottom: 100px;
}

.content article {
    text-align: justify;
    padding: 0 2em 2em;
    font-size: large;
}
